main[data-testid^="login"] {
  background: linear-gradient(to left top, #fcba2e,#8f14e4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 90.7vh;
  padding: 15px 10px;
}

@media (max-width : 1140px) {
  main[data-testid^="login"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}