html, body {
  max-width: 100%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

header {
  height: 84px;
  background-color: #8f14e4;
  display: flex;
  padding: 36px 72px;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.user-infos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.nav-list a {
  display: block;
  position: relative;
  padding: 16px;
  font-family: 'Nunito', 'sans-serif';
  text-decoration: none;
  color: rgba(255, 255, 255, 0.856);
  font-weight: 700;
  transition: color ease 0.2s;
}

.nav-list a::after {
  position: absolute;
  content: "";
  background-color: #FFF;
  display: block;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 8px;
  transition: all ease 0.2s;
}

.nav-list a:hover {
  color: #FFF;
}

.nav-list a:hover::after {
  width: 100%;
}