.header-user-info-container {
  background-color: #261f50;
  border-radius: 1rem;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  padding: 6px 15px;
  text-align: center;
}

.header-user-info {
  color: #fcba2e;
}