.login-modal-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.login-modal {
  animation: showModal 0.5s;
  background: white;
  border-radius: 5rem;
  border: 10px solid #ad0453;
  box-shadow: 0 0 0 10px white;
  box-sizing: border-box;
  height: fit-content;
  margin: auto;
  padding: 40px;
  position: relative;
  width: 25rem;
}

.login-modal label {
  display: block;
  font-family: 'Nunito';
  font-weight: 700;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
  padding: 7px 0;
}

.login-modal input {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(126, 120, 120);
  box-sizing: border-box;
  padding: 0.7rem 0.5rem;
  width: 100%;
}

.login-modal button[type="submit"] {
  background: #fcba2e;
  border-radius: 4px;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
  font-family: 'Nunito';
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin: auto;
  padding: 0.7rem 2rem;
  transition: all ease .2s;
}

.login-error-message {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.login-modal button[type="submit"]:hover {
  background: #ffb618;
}

.login-modal input {
  letter-spacing: 0.07rem;
}

.login-modal hr {
  margin: auto;
  margin-top: 1.8rem;
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translate3d(0, -20rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.login-go-to-register-container {
  text-align: center;
  margin-top: 1.5rem;
}

.login-go-to-register-container span {
  margin-left: .5rem;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}
