.new-product-btn {
  background-color: #221c42;
  border-radius: 6px;
  border: none;
  color: #836e40;
  cursor: pointer;
  font-family: 'Nunito', 'sans-serif';
  font-size: 0.9rem;
  justify-content: center;
  padding: .4rem .9rem;
  text-align: center;
  transition: all ease .2s;
  width: fit-content;
  justify-self: center;
}

.new-product-btn:hover {
  background-color: #261f50;
  color: #fcba2e;
}
